<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699516759070-ur12icinedaulj4ql21djcmdo43v1adu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699516759070-ur12icinedaulj4ql21djcmdo43v1adu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>699516759070-lnreisu43uh0n6nl4t0ligt5sbbl0h4r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWcx38LZd3zVnwMv-NmN0uNAidJeUcVo4</string>
	<key>GCM_SENDER_ID</key>
	<string>699516759070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TicTacToe</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-6ad2b</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-6ad2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699516759070:ios:5db38b32808c4f7ccb120f</string>
</dict>
</plist>